* {
    margin: 0;
    padding: 0;
}
.header {
    display: flex;
    justify-content: space-around;
    font-size: 32px;
    color: rgba(210, 160, 32, 1);
    background-color: rgba(102, 0, 0, 1);
    align-items: center;
    padding-top: 18px;
    padding-bottom: 18px;
}
a {
    text-decoration: none;
    color: rgba(210, 160, 32, 1);
}
.header_logo {
    display: flex;
    align-items: center;
    gap: 5px;
    user-select: none;
}
.header_nav {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
}
.header_nav p {
    margin-left: 20px;
}
.section-1-container-1 {
    text-align: center;
}
.section-1-container-1 h1 {
    color: #D2A020;
    font-size: 64px;
}
.section-1 {
    background-color: rgba(3, 13, 38, 1);
    height: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-1-container-1-1 {
    display: grid;
    margin-top: 49px;
}
.box1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
  }
.box2 {
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .box3 {
    grid-row-start: 1;
    grid-row-end: 4;
  }
  .box4 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
  }
  .section-2 {
    background-color: rgba(3, 13, 38, 1);
    display: flex;
    justify-content: center;
    height: 1950px;
    color: rgba(210, 160, 32, 1);
}
.section-2-container-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.section-2-container-1 h1 {
    color: rgba(210, 160, 32, 1);
    font-size: 64px;
    text-align: center;
}
.section-2-container-1-2-1 {
    display: grid;
    grid-template-columns: repeat(7, 250px);
    grid-auto-rows: 300px;
    margin-top: 30px;
}
.section-2-container-1-2-1-item {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    text-align: center;
}
.section-2-container-1-2-1-item-text-1 {
    display: flex;
    justify-content: space-around;
}
.large {
    font-size: 42px;
}
.small {
    font-size: 24px;
}
.section-3 {
    background-color: #030D26;
    display: flex;
    justify-content: center;
}
.section-3-container-1 {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 36px;
}
.section-3-container-1 h1 {
    color: #D2A020;
    font-size: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-3-container-1-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 46px;
}
.section-3-container-1-1-item-text {
    border-radius: 18px;
    border: 1px solid #D2A020;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    font-size: 32px;
    color: #D2A020;
    max-width: 300px;
    padding: 22px;
}
.section-5-container-1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.section-5-container-1-2 {
    display: flex;
    flex-direction: column;
    gap: 72px;
}
.section-5-container-1-2-item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}
.section-5-container-1-2-item img {
    cursor: pointer;
}
.footer {
    background-color: rgba(3, 13, 38, 1);
    color: rgba(210, 160, 32, 1);
    font-size: 48px;
    padding-top: 128px;
    padding-bottom: 128px;
    user-select: none;
}
@media (max-width:768px) {
    .header img {
        display: none;
    }
    .header_nav {
        max-width: 685px;
    }
    .section-1 {
        height: auto;
        padding-top: 10px;
    }
    .section-2-container-1-2-1 {
        grid-template-columns: repeat(7, 100px);
        grid-auto-rows: 200px;
    }
    .section-3-container-1-1-item {
        display: flex;
        gap: 10px;
    }
    .section-1-container-1-1 {
        display: flex;
        flex-direction: column;
    }
    .section-3-container-1-1 {
        justify-content: center;
    }
    .section-5-container-1 {
        flex-direction: column;
    }
}
@media (max-width:390px) {
    .header_nav {
        flex-direction: column;
    }
    .section-2-container-1-2-1 {
        grid-template-columns: repeat(2, 200px);
        grid-auto-rows: 200px;
    }
    .section-2 {
        background-color: rgba(3, 13, 38, 1);
        display: flex;
        text-align: center;
        height: auto;
    }
    .section-3-container-1-1-item {
        display: flex;
        gap: 10px;
        flex-direction: column;
    }
    * img {
        width: 100%;
    }
    .section-5-container-1-2 img {
        width: 100px;
    }
    .section-5-container-1-2-item {
        justify-content: center;
    }
}